.navbar {
  width: 100%;
  padding: 16px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 16px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}
.navbar_left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar_left img {
  width: 90px;
  cursor: pointer;
}
.navbar_left
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar_left
li {
  cursor: pointer;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_right .icons {
  width: 20px;
  cursor: pointer;
}
.navbar_right .profile {
  border-radius: 4px;
  width: 35px;
}
.navbar_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 24px;
  text-decoration: underline;
  z-index: 1;
  border-radius: 2px;
  display: none;
}
.navbar .dropdown {
  font-size: 12px;
  cursor: pointer;
}
.navbar_profile:hover .dropdown {
  display: block;
}
.navbar_dark{
  background: #191919;
}